body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}
header {
    background-color: #333;
    color: #fff;
    padding: 10px;
}
.header-content {
    display: flex; /* Usar flexbox para alinear elementos */
    align-items: center; /* Centrar los elementos verticalmente */
}
header img {
    width: 50px;
    height: auto;
    margin-right: 10px;
}


section img {
    display: block;
    margin:0 auto;
    width: 500px;
    height: auto;
}
nav {
    background-color: #666;
    color: #fff;
    padding: 10px;
    text-align: center;
}
nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}
section {
    padding: 20px;
}
footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    width: 100%;
    bottom: 0;
}

#titulo {
    text-align: center;
}

.arduino {
    display: flex;
    align-items: center;
    font-size: 17px;
    padding: 1px;
}

.con-punto {
    margin-right: 10px; /* Espacio después del título "Arduino:" */
}

.con-punto::before {
    content: "• ";
    margin-right: 5px;
}

.texto_1 {
    margin: 0;
    flex-grow: 1; /* Permite que el párrafo ocupe el espacio restante */
}

@media (max-width: 600px) {
    .arduino {
        font-size: 16px; /* Reduce el tamaño de la fuente en ventanas más pequeñas */
        flex-wrap: wrap; /* Permite que los elementos se ajusten en nuevas líneas si no hay suficiente espacio */
    }
}

.parpadeo-de-un-led::before{
    content: "• ";
    margin-right: 5px;
    margin-left: 30px;
}

.barrido-led::before{
    content: "• ";
    margin-right: 5px;
    margin-left: 30px;
}

.luces-auto-fantastico::before{
    content: "• ";
    margin-right: 5px;
    margin-left: 30px;
}

.led-rgb::before{
    content: "• ";
    margin-right: 5px;
    margin-left: 30px; 
}

.termometro-digital{
    text-decoration: none;
}
.termometro-digital::before{
    content: "• ";
    margin-right: 5px;
    margin-left: 30px; 
    text-decoration: none;
}

.voltimetro-digital::before{
    content: "• ";
    margin-right: 5px;
    margin-left: 30px;
}

.contador-0-9::before{
    content: "• ";
    margin-right: 5px;
    margin-left: 30px;
}

.hola-mundo::before{
    content: "• ";
    margin-right: 5px;
    margin-left: 30px;
}
.esp32_titulo{
    margin-right: 10px; /* Espacio después del título "Arduino:" */
}
.esp32_titulo::before{
    content: "• ";
    margin-right: 5px;
}

.texto_2 {
    margin: 0;
    flex-grow: 1; /* Permite que el párrafo ocupe el espacio restante */
}
.control-led-wifi::before{
    content: "• ";
    margin-right: 5px;
    margin-left: 30px;
}
.sensor-dh11::before{
    content: "• ";
    margin-right: 5px;
    margin-left: 30px;
}
.control-led-rgb-wifi::before{
    content: "• ";
    margin-right: 5px;
    margin-left: 30px;
}
.dimmer-wifi::before{
    content: "• ";
    margin-right: 5px;
    margin-left: 30px;
}
.control-acceso-wifi::before{
    content: "• ";
    margin-right: 5px;
    margin-left: 30px;
}
.servomotor-wifi::before{
    content: "• ";
    margin-right: 5px;
    margin-left: 30px;
}