body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}
header {
    background-color: #333;
    color: #fff;
    padding: 10px;
}
.header-content {
    display: flex; /* Usar flexbox para alinear elementos */
    align-items: center; /* Centrar los elementos verticalmente */
}
header img {
    width: 50px;
    height: auto;
    margin-right: 10px;
}


section img {
    display: block;
    margin:0 auto;
    width: 500px;
    height: auto;
}
nav {
    background-color: #666;
    color: #fff;
    padding: 10px;
    text-align: center;
}
nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}
section {
    padding: 20px;
}
footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    width: 100%;
    bottom: 0;
}

.content_2{
    width: 80%; /* Ancho del contenedor, ajustable según tus necesidades */
    margin: 0 auto; /* Márgenes automáticos para centrar el contenedor */
}

.inline-height-cadesimu{
    display: inline-block;
    width: 350px;
    height: 350px;
    margin: 10px;
}

.inline-height-tia-portal{
    display: inline-block;
    width: 350px;
    height: 290px;
    margin: 10px;
}

.inline-height-pcsimu{
    display: inline-block;
    width: 350px;
    height: 350px;
    margin: 10px;
}

.inline-height-factory{
    display: inline-block;
    width: 350px;
    height: 290px;
    margin: 10px;
}

.inline-height-labview{
    display: inline-block;
    width: 350px;
    height: 250px;
    margin: 10px;
}

.inline-height-digsilent{
    display: inline-block;
    width: 350px;
    height: 290px;
    margin: 10px;
}

.image-container-cadesimu{
    text-align: center;
}

.image-container-cadesimu{
    text-align: center;
}

.image-container-pcsimu{
    text-align: center;
}

.image-container-factory{
    text-align: center;
}

.image-container-proteus{
    text-align: center;
}

.image-container-multisim{
    text-align: center;
}

.image-container-labview{
    text-align: center;
}

.image-container-digsilent{
    text-align: center;
}

.inline-height-labview{
    display: inline-block;
    width: 350px;
    height: 350px;
    margin: 10px;
}

.inline-height-proteus{
    display: inline-block;
    width: 350px;
    height: 350px;
    margin: 10px;
}

.inline-height-multisim{
    display: inline-block;
    width: 350px;
    height: 350px;
    margin: 10px;
}

.boton-cadesimu{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

.boton-tia-portal{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

.boton-cadesimu:hover{
    background-color: #0056b3;
}

.boton-pcsimu{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

.boton-pcsimu:hover{
    background-color: #0056b3;
}

.boton-factory{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

.boton-factory:hover{
    background-color: #0056b3;
}

.boton-proteus{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

.boton-proteus:hover{
    background-color: #0056b3;
}

.boton-multisim{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

.boton-multisim:hover{
    background-color: #0056b3;
}

.boton-labview{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

.boton-labview:hover{
    background-color: #0056b3;
}

.boton-digsilent{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

.boton-digsilent:hover{
    background-color: #0056b3;
}


.recaptcha{
    margin: 20px 0;
}

.whatsapp-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #25D366;
    color: white;
    border-radius: 50px;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-decoration: none;
}

.whatsapp-button img {
    width: 70px;
    height: 70px;
}

.whatsapp-button:hover {
    background-color: #1ebe5b;
}