body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    margin-top: 0px; /* Ajusta esto según la altura de tu barra de navegación */
}

.recuadro{
    background-color: #78807b;
    height: auto;
    width: 80%;
    margin: 0 auto;
    border-radius: 10px;
    overflow: hidden;
    position: relative;/*Para posicionar los indicadores*/
    text-align: center; /*Centro para alinear los indicadores horizontalmente*/
}

.recuadro img{
    height: auto;
    width: 90%;
    padding: 5%;
    margin: 0 auto;
    border-radius: 41px;
    display: none;
}

.recuadro img.active{
    display: block;
}

.indicators {
    position: absolute;
    bottom: 10px;
    left: 50px;
    transform: translateX(-50%);
    display: flex;
    gap:10px;
    justify-content: center;
    align-items: center;
    margin: 0 40% ;
}

.indicators .indicator{
    width: 15px;
    height: 15px;
    background-color: #87cefa;
    border-radius: 50%;
    cursor: pointer;
    
}

.indicators .indicator.active{
    background-color: #0000ff;
}

.recuadro img.active{
    display: block;
}

header {
    background-color: #333;
    color: #fff;
    padding: 0px;
    display: flex;
    align-items: center;
    top: 0;
    width: 100%;
    z-index: 1000;
    justify-content: flex-start;

}

.header-content {
    display: flex; /* Usar flexbox para alinear elementos */
    align-items: center; /* Centrar los elementos verticalmente */
    padding: 10px;
}

header img {
    width: 50px;
    height: auto;
    margin-right: 10px;
}

section img {
    display: block;
    margin: 0 auto;
    width: 500px;
    height: auto;
}

.nav-list {
    list-style-type: none;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
}

.nav-list ul {
    list-style: none;
    margin: 0;
    padding: 0px;
    display: flex;
}

.nav-list li {
    margin: 2px;
}

.nav-list a {
    display: block;
    padding: 20px 30px;
    color: white;
    text-decoration: none;
    background-color: #333;
    transition: background-color 0.3s;
}

.nav-list a.inicio {
    background-color: blue;
}

.nav-list a:hover {
    background-color: #555;
}

section {
    padding: 30px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    width: 100%;
    bottom: 0;
}

.contenedor {
    width: 50%;
    margin: 0 auto;
}

.menu {
    width: 100%;
    z-index: 1000;
}

@media (max-width: 768px) {
    .menu {
        position:relative;
        top: auto;
        margin: 0% 0%;
    }

    .nav-list {
        flex-direction: column;
        width: 100%;
        height: auto;
        position: relative;
        top: 0;
        align-items: flex-start;
        margin: 1% 0%;
    
    }

    .nav-list li {
        width: 82%;
        margin: 0.5% 0;
    }

    .nav-list a{
        width: 100%;
        text-align: left;
        padding-left: 15px;
    }

    .menu a {
        border-radius: 0;
        display: flex;
        justify-content: space-between;
    }

   /* .menu a::after {
        content: ' \002B';
        margin-left: auto;
    }*/

    .nav-list li:first-child a {
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
    }

    .nav-list li:last-child a {
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
    }

    .contenedor {
        width: 100%;
        margin: 0 auto;
    }

    .section {
        padding: 100px;
    }
    
    body {
        margin-top: 0;
    }
}

.whatsapp-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #085807;
    color: white;
    border-radius: 50px;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-decoration: none;
}

.whatsapp-button img {
    width: 70px;
    height: 70px;
}

.whatsapp-button:hover {
    background-color: #1ebe5b;
}

.nav-list li:first-child a {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.nav-list li:last-child a {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
